<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_BBPress>
			<version>1.0.1.2</version>
			<fishpig>
				<id>bbpress</id>
				<name>bbPress</name>
				<url>https://fishpig.co.uk/magento/wordpress-integration/bbpress/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_BBPress>
	</modules>
	<global>
		<blocks>
			<wp_addon_bbpress>
				<class>Fishpig_Wordpress_Addon_BBPress_Block</class>			
			</wp_addon_bbpress>
		</blocks>
		<helpers>
			<wp_addon_bbpress>
				<class>Fishpig_Wordpress_Addon_BBPress_Helper</class>			
			</wp_addon_bbpress>
		</helpers>
		<models>
			<wp_addon_bbpress>
				<class>Fishpig_Wordpress_Addon_BBPress_Model</class>			
			</wp_addon_bbpress>
		</models>
		<events>
			<wordpress_app_init_post_types_after>
				<observers>
					<wp_addon_bbpress>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_BBPress_Model_Observer</class>
						<method>initPostTypesObserver</method>
					</wp_addon_bbpress>
				</observers>
			</wordpress_app_init_post_types_after>
			<wordpress_app_init_taxonomies_after>
				<observers>
					<wp_addon_bbpress>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_BBPress_Model_Observer</class>
						<method>initTaxonomiesObserver</method>
					</wp_addon_bbpress>
				</observers>
			</wordpress_app_init_taxonomies_after>
			<wordpress_match_routes_before>
				<observers>
					<wp_addon_bbpress>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_BBPress_Model_Observer</class>
						<method>matchRoutesObserver</method>
					</wp_addon_bbpress>
				</observers>
			</wordpress_match_routes_before>
		</events>
	</global>
	<frontend>
		<routers>
			<wp_addon_bbpress>
				<use>wordpress_addon</use>
				<args>
					<module>Fishpig_Wordpress_Addon_BBPress</module>
					<frontName>wp_addon_bbpress</frontName>
				</args>
			</wp_addon_bbpress>
		</routers>
		<layout>
			<updates>
				<wp_addon_bbpress>
					<file>wordpress/bbpress.xml</file>
				</wp_addon_bbpress>
			</updates>
		</layout>
	</frontend>
	<wordpress>
		<core>
			<modules>
				<wp_addon_bbpress />
			</modules>
		</core>
		<sidebar>
			<widgets>
				<bbp_views_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_views_widget>
				<bbp_forums_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_forums_widget>
				<bbp_replies_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_replies_widget>
				<bbp_search_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_search_widget>
				<bbp_stats_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_stats_widget>
				<bbp_topics_widget><block>wp_addon_bbpress/sidebar_widget</block></bbp_topics_widget>
			</widgets>
		</sidebar>
	</wordpress>
</config>